# Handling CSV Data

In [ ]:
import pandas as pd
set1={"a":[3,5,6,8],"s":[2,5,9,6],"d":[1,5,8,0]}
data1=pd.DataFrame(set1)
# data1.to_csv("csv1.csv")
# data1.to_csv("csv2.csv",index=False)
data1.to_csv("csv3.csv",index=False,header=["Hindi","Maths","Physics"])
data1

   a  s  d
0  3  2  1
1  5  5  5
2  6  9  8
3  8  6  0

### Read CSV File

In [ ]:
r1=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv")
r1

,JE Code,Store,Country,Date,Item,List Price
0,I-1001,Moscow,Russia,10/6/2018,Microwave,80
1,I-1002,Toronto,Canada,4/23/2015,Microwave,80
2,I-1003,Sao Paolo,Brazil,4/3/2017,Air conditioner,700
3,I-1004,Istanbul,Turkey,8/14/2018,Ceiling fan,150
4,I-1005,Sydney,Australia,3/3/2015,Toaster,50
5,I-1006,Shenzhen,China,4/25/2016,Iron,30
6,I-1007,Lima,Peru,6/6/2016,Dishwasher,500
7,I-1008,Tijuana,Mexico,6/7/2016,Iron,30
8,I-1009,London,UK,12/11/2015,Washing Machine,800
9,I-1010,Lima,Peru,9/7/2014,Iron,30
10,I-1011,Riyadh,Saudi Arabia,10/7/2017,Refrigerator,1000
11,I-1012,Bangkok,Thailand,8/21/2014,Air conditioner,700
12,I-1013,Tijuana,Mexico,3/9/2015,Iron,30
13,I-1014,Delhi,India,5/30/2014,Oven,500
14,I-1015,Sydney,Australia,11/12/2018,Washing Machine,800
15,I-1016,Ho Chi Minh City,Vietnam,5/24/2015,Microwave,80
16,I-1017,Tel Aviv,Israel,12/6/2014,Refrigerator,1000

In [ ]:
r1=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv",nrows=8)
r1

  JE Code      Store    Country       Date             Item  List Price
0  I-1001     Moscow     Russia  10/6/2018        Microwave          80
1  I-1002    Toronto     Canada  4/23/2015        Microwave          80
2  I-1003  Sao Paolo     Brazil   4/3/2017  Air conditioner         700
3  I-1004   Istanbul     Turkey  8/14/2018      Ceiling fan         150
4  I-1005     Sydney  Australia   3/3/2015          Toaster          50
5  I-1006   Shenzhen      China  4/25/2016             Iron          30
6  I-1007       Lima       Peru   6/6/2016       Dishwasher         500
7  I-1008    Tijuana     Mexico   6/7/2016             Iron          30

In [ ]:
r1=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv",nrows=3,usecols=["Store","Date"])
r1

       Store       Date
0     Moscow  10/6/2018
1    Toronto  4/23/2015
2  Sao Paolo   4/3/2017

In [ ]:
r2=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv",skiprows=[1,4])
r2

,JE Code,Store,Country,Date,Item,List Price
0,I-1002,Toronto,Canada,4/23/2015,Microwave,80
1,I-1003,Sao Paolo,Brazil,4/3/2017,Air conditioner,700
2,I-1005,Sydney,Australia,3/3/2015,Toaster,50
3,I-1006,Shenzhen,China,4/25/2016,Iron,30
4,I-1007,Lima,Peru,6/6/2016,Dishwasher,500
5,I-1008,Tijuana,Mexico,6/7/2016,Iron,30
6,I-1009,London,UK,12/11/2015,Washing Machine,800
7,I-1010,Lima,Peru,9/7/2014,Iron,30
8,I-1011,Riyadh,Saudi Arabia,10/7/2017,Refrigerator,1000
9,I-1012,Bangkok,Thailand,8/21/2014,Air conditioner,700
10,I-1013,Tijuana,Mexico,3/9/2015,Iron,30
11,I-1014,Delhi,India,5/30/2014,Oven,500
12,I-1015,Sydney,Australia,11/12/2018,Washing Machine,800
13,I-1016,Ho Chi Minh City,Vietnam,5/24/2015,Microwave,80
14,I-1017,Tel Aviv,Israel,12/6/2014,Refrigerator,1000

In [ ]:
r2=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv",index_col="Store")
r2

,JE Code,Country,Date,Item,List Price
Store,,,,,
Moscow,I-1001,Russia,10/6/2018,Microwave,80
Toronto,I-1002,Canada,4/23/2015,Microwave,80
Sao Paolo,I-1003,Brazil,4/3/2017,Air conditioner,700
Istanbul,I-1004,Turkey,8/14/2018,Ceiling fan,150
Sydney,I-1005,Australia,3/3/2015,Toaster,50
Shenzhen,I-1006,China,4/25/2016,Iron,30
Lima,I-1007,Peru,6/6/2016,Dishwasher,500
Tijuana,I-1008,Mexico,6/7/2016,Iron,30
London,I-1009,UK,12/11/2015,Washing Machine,800
Lima,I-1010,Peru,9/7/2014,Iron,30
Riyadh,I-1011,Saudi Arabia,10/7/2017,Refrigerator,1000
Bangkok,I-1012,Thailand,8/21/2014,Air conditioner,700
Tijuana,I-1013,Mexico,3/9/2015,Iron,30
Delhi,I-1014,India,5/30/2014,Oven,500
Sydney,I-1015,Australia,11/12/2018,Washing Machine,800
Ho Chi Minh City,I-1016,Vietnam,5/24/2015,Microwave,80
Tel Aviv,I-1017,Israel,12/6/2014,Refrigerator,1000

In [ ]:
r2=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv",header=2)
r2

    I-1002           Toronto        Canada   4/23/2015        Microwave    80
0   I-1003         Sao Paolo        Brazil    4/3/2017  Air conditioner   700
1   I-1004          Istanbul        Turkey   8/14/2018      Ceiling fan   150
2   I-1005            Sydney     Australia    3/3/2015          Toaster    50
3   I-1006          Shenzhen         China   4/25/2016             Iron    30
4   I-1007              Lima          Peru    6/6/2016       Dishwasher   500
5   I-1008           Tijuana        Mexico    6/7/2016             Iron    30
6   I-1009            London            UK  12/11/2015  Washing Machine   800
7   I-1010              Lima          Peru    9/7/2014             Iron    30
8   I-1011            Riyadh  Saudi Arabia   10/7/2017     Refrigerator  1000
9   I-1012           Bangkok      Thailand   8/21/2014  Air conditioner   700
10  I-1013           Tijuana        Mexico    3/9/2015             Iron    30
11  I-1014             Delhi         India   5/30/2014             Oven   500
12  I-1015            Sydney     Australia  11/12/2018  Washing Machine   800
13  I-1016  Ho Chi Minh City       Vietnam   5/24/2015        Microwave    80
14  I-1017          Tel Aviv        Israel   12/6/2014     Refrigerator  1000

In [ ]:
r2=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv",names=["A","B","C","D","E","F"])
r2

,A,B,C,D,E,F
0,JE Code,Store,Country,Date,Item,List Price
1,I-1001,Moscow,Russia,10/6/2018,Microwave,80
2,I-1002,Toronto,Canada,4/23/2015,Microwave,80
3,I-1003,Sao Paolo,Brazil,4/3/2017,Air conditioner,700
4,I-1004,Istanbul,Turkey,8/14/2018,Ceiling fan,150
5,I-1005,Sydney,Australia,3/3/2015,Toaster,50
6,I-1006,Shenzhen,China,4/25/2016,Iron,30
7,I-1007,Lima,Peru,6/6/2016,Dishwasher,500
8,I-1008,Tijuana,Mexico,6/7/2016,Iron,30
9,I-1009,London,UK,12/11/2015,Washing Machine,800
10,I-1010,Lima,Peru,9/7/2014,Iron,30
11,I-1011,Riyadh,Saudi Arabia,10/7/2017,Refrigerator,1000
12,I-1012,Bangkok,Thailand,8/21/2014,Air conditioner,700
13,I-1013,Tijuana,Mexico,3/9/2015,Iron,30
14,I-1014,Delhi,India,5/30/2014,Oven,500
15,I-1015,Sydney,Australia,11/12/2018,Washing Machine,800
16,I-1016,Ho Chi Minh City,Vietnam,5/24/2015,Microwave,80
17,I-1017,Tel Aviv,Israel,12/6/2014,Refrigerator,1000

In [ ]:
r3=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv",header=None)
r3

,0,1,2,3,4,5
0,JE Code,Store,Country,Date,Item,List Price
1,I-1001,Moscow,Russia,10/6/2018,Microwave,80
2,I-1002,Toronto,Canada,4/23/2015,Microwave,80
3,I-1003,Sao Paolo,Brazil,4/3/2017,Air conditioner,700
4,I-1004,Istanbul,Turkey,8/14/2018,Ceiling fan,150
5,I-1005,Sydney,Australia,3/3/2015,Toaster,50
6,I-1006,Shenzhen,China,4/25/2016,Iron,30
7,I-1007,Lima,Peru,6/6/2016,Dishwasher,500
8,I-1008,Tijuana,Mexico,6/7/2016,Iron,30
9,I-1009,London,UK,12/11/2015,Washing Machine,800
10,I-1010,Lima,Peru,9/7/2014,Iron,30
11,I-1011,Riyadh,Saudi Arabia,10/7/2017,Refrigerator,1000
12,I-1012,Bangkok,Thailand,8/21/2014,Air conditioner,700
13,I-1013,Tijuana,Mexico,3/9/2015,Iron,30
14,I-1014,Delhi,India,5/30/2014,Oven,500
15,I-1015,Sydney,Australia,11/12/2018,Washing Machine,800
16,I-1016,Ho Chi Minh City,Vietnam,5/24/2015,Microwave,80
17,I-1017,Tel Aviv,Israel,12/6/2014,Refrigerator,1000

In [ ]:
r3=pd.read_csv("C:\\Users\\pc\\Desktop\\Data_Science\\Pandas\\csv1.csv",dtype={"List Price":"float"})
r3

,JE Code,Store,Country,Date,Item,List Price
0,I-1001,Moscow,Russia,10/6/2018,Microwave,80.0
1,I-1002,Toronto,Canada,4/23/2015,Microwave,80.0
2,I-1003,Sao Paolo,Brazil,4/3/2017,Air conditioner,700.0
3,I-1004,Istanbul,Turkey,8/14/2018,Ceiling fan,150.0
4,I-1005,Sydney,Australia,3/3/2015,Toaster,50.0
5,I-1006,Shenzhen,China,4/25/2016,Iron,30.0
6,I-1007,Lima,Peru,6/6/2016,Dishwasher,500.0
7,I-1008,Tijuana,Mexico,6/7/2016,Iron,30.0
8,I-1009,London,UK,12/11/2015,Washing Machine,800.0
9,I-1010,Lima,Peru,9/7/2014,Iron,30.0
10,I-1011,Riyadh,Saudi Arabia,10/7/2017,Refrigerator,1000.0
11,I-1012,Bangkok,Thailand,8/21/2014,Air conditioner,700.0
12,I-1013,Tijuana,Mexico,3/9/2015,Iron,30.0
13,I-1014,Delhi,India,5/30/2014,Oven,500.0
14,I-1015,Sydney,Australia,11/12/2018,Washing Machine,800.0
15,I-1016,Ho Chi Minh City,Vietnam,5/24/2015,Microwave,80.0
16,I-1017,Tel Aviv,Israel,12/6/2014,Refrigerator,1000.0